$black: #282C34;
$white: #DFDFDF;
$blue: #6EAAFB;
$yellow: #F8C456;
$green: #95EE8F;
$red: #EB6E67;
$purple: #9F4E9F;
$orange: #F1A781;

@keyframes danger-blink {
  0% {
    opacity: .5;
    font-size: 1.8em;
  }

  40% {
    opacity: 1;
    font-size: 1.3em;
  }

  100% {
    opacity: .6;
    font-size: 1.6em;
  }
}

@keyframes blink {
  0% {
    opacity: .6;
    font-size: 1.6em;
  }

  40% {
    opacity: 1;
    font-size: 1.3em;
  }

  100% {
    opacity: .6;
    font-size: 1.6em;
  }
}

* {
  font-family: "IosevkaTerm Nerd Font";
}

.status-bar {
  background: $black;
  color: $white;
  font-size: 10px;

  .os-logo {
    color: $blue;
    font-size: 20px;
    margin: 2px 5px;
  }

  .workspaces {
    background: darken($black, 5%);
    border-radius: 20px;
    margin: 4px;
    padding: 2px;
    border: 1px solid lighten($white, 5%);

    .workspace {
      all: unset;
      transition: background-color .5s, color .5s, padding .3s;
      border-radius: 1em;
      font-size: 14px;
      min-width: 10px;
      min-height: 10px;
      padding: 0 4px;

      &:hover {
        padding: 0 8px;
        background: lighten($black, 15%);
      }

      &.special {
        background: $yellow;
        color: $black;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-left: 6px;
      }

      &.active {
        color: $black;
        background: $blue;
        min-width: 16px;
        min-height: 16px;
      }
    }
  }

  .info-display {
    margin: 0 1px;
    padding: 2px 0.5em;
    border-radius: 10px;
    color: darken($black, 5%);
    background: $white;
    font-size: 1.1em;

    button {
      all: unset;
    }
  }

  .info-display.time,
  .info-display.date {
    background: $green;
  }

  .power-button {
    all: unset;
    margin: 0 1px;
    padding: 2px 0.4em;
    border-radius: 10px;
    color: darken($black, 5%);
    background: $blue;
    font-size: 1.1em;
  }

  .info-display.memory {
    background: $red;
  }

  .info-display.network {
    background: $purple;
  }

  .info-display.audio {
    background: $blue;
  }

  .battery {
    .percentage {
      font-size: 1.3em;
    }

    .bar {
      block {
        border: 1px solid $white;
        border-radius: 20px;

        &.filled {
          margin: 2px;
          border: none;
          border-radius: 15px;
          background: darken($blue, 10%);
        }

        &.empty {
          background: $black;
        }
      }
    }

    .icon {
      font-size: 1.3em;
    }

    .warning {
      block.filled {
        background: orange;
      }
    }

    .danger {
      block.filled {
        background: red;
      }

      .icon {
        animation: danger-blink 1s infinite;
      }
    }

    .charging {
      block.filled {
        background: green;
      }

      .icon {
        animation: blink 1s infinite;
      }
    }
  }

  .end {
    padding: 0 20px 0 0;
  }
}

#quick-menu {
  background: transparent;
}

.quick-menu {
  $bg: $black;

  @mixin toggleButton($color) {
    color: $color;

    &.active {
      background: $color;
      color: darken($bg, 4%);
    }
  }

  background: $bg;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 3px transparentize($white, 0.5);

  &>button {
    all: unset;
    border: none;
    transition: .5s;
    font-size: 1.5em;
    background: darken($bg, 4%);
    border-radius: 4px;
    min-height: 60px;
    min-width: 60px;
    padding: 0;

    &:hover {
      background: darken($bg, 10%);
    }

    &.off {
      color: $red;
    }

    &.restart {
      color: $green;
    }

    &.logout {
      color: $orange;
    }
  }

  .day-month {
    margin: 5px;

    label {
      font-size: 5rem;
    }

    separator {
      min-height: 4px;
      background: $white;
    }
  }

  .battery {
    margin: 10px;
    font-size: 5px;
    background: darken($bg, 5%);
    color: $green;

    .percentage {
      font-size: 3rem;
    }
  }

  .volume,
  .brightness {
    .icon {
      all: unset;
      font-size: 2rem;
    }

    .percentage {
      font-size: 1.5rem;
      min-width: 4em;
    }

    .slider {
      margin: 5px;

      contents trough {
        background: lighten($bg, 5%);
        border-radius: 5px;

        slider {
          transition: .8s;
          background-image: none;

          &:hover {
            background-image: radial-gradient(circle, $blue, $blue, transparent, transparent, transparent);
          }
        }

        highlight {
          background: $blue;
          min-height: 5px;
          border-radius: 5px;
        }
      }
    }
  }

  .previewer {
    background: darken($black, 5%);
    border-radius: 10px;
    min-height: 150px;
  }

  .wifi {
    @include toggleButton($purple);
  }

  .bluetooth {
    @include toggleButton($blue);
  }

  .do-not-disturb {
    @include toggleButton($yellow);
  }

  .os-logo,
  .wm-logo {
    font-size: 5rem;
    color: $blue;
  }

  .system-info {
    background: darken($blue, 10%);
    color: $black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
  }
}

#app-launcher {
  background: transparent;
}

.app-launcher {
  background: $black;
  min-width: 400px;
  min-height: 600px;
  padding: 10px;
  border-radius: 10px;

  .search-bar {
    margin: 3px;
    padding: 0 1px 5px 1px;

    .icon {
      background: $blue;
      color: $black;
      padding: 1px 10px;
      border-radius: 10px 0 0 10px;
      font-size: 1.2rem;
    }

    entry {
      all: unset;
      background: darken($black, 5%);
      border-radius: 0 10px 10px 0;
      padding: 5px;
      font-size: 1.2rem;
    }
  }

  .apps {
    .list {
      .app-item {
        all: unset;
        border: none;
        $bg: lighten($black, 5%);

        .title {
          font-size: 1.3rem;
          background: $bg;
          border-radius: 0 10px 10px 0;
          padding: 5px;
        }

        .icon {
          background: $bg;
          border-radius: 10px 0 0 10px;
          padding: 5px;
        }

        &:focus {
          .title {
            background: $blue;
            color: $black;
          }
          .icon {
            background: lighten($bg, 5%);
          }
        }
      }
    }
  }
}
