@define-color black #000000;
@define-color white #ffffff;
@define-color red #eb6e67;
@define-color green #95ee8f;
@define-color yellow #f8c456;
@define-color blue #6eaafb;
@define-color magenta #d886f3;
@define-color cyan #6cdcf7;
@define-color emphasis #50536b;
@define-color text #dfdfdf;
@define-color text-alt #b2b2b2;
@define-color fg #abb2bf;
@define-color bg #282c34;
@define-color bg-alt #252331;

* {
  all: unset;
  font-size: 12px;
  font-family: "CodeNewRoman Nerd Font";
  transition: 200ms;
}

.close-button {
  /* The notification Close Button */
  background: transparent;
  color: @fg;
  text-shadow: none;
  padding: 0;
  margin: -2px -2px 0 0;
  box-shadow: none;
  min-width: 18px;
  min-height: 18px;
}

.close-button:hover {
  box-shadow: none;
  border-radius: 100%;
  background: @blue;
  color: @black;
  transition: background 0.5s ease-in-out;
  border: 1px solid @black;
}

.notification-row {
  background: @bg;
  border: 1px solid @fg;
  border-radius: 10px;
  padding: 5px;
  margin: 8px;
}

.notification-row > * {
  margin: 5px;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @bg-alt;
  border-radius: 8px;
  margin: 5px;
  background: @bg;
  color: @text;
}

/*** Widgets ***/
/* Title widget */
.widget-title,
.widget-dnd {
  border: 0 solid @text;
  border-bottom-width: 2px;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.widget-title {
  color: @text;
  margin: 5px;
  font-weight: bolder;
}

.widget-title > button {
  color: @white;
  font-weight: bold;
  background: @blue;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

.widget-title > button:hover {
  box-shadow: 0 0 8px 0 @blue, inset 0 0 0 1px @blue;
}

/* DND widget */
.widget-dnd {
  color: @text;
  margin: 8px;
}

.widget-dnd > switch {
  border-radius: 12px;
  background: @bg-alt;
  border: 1px solid @text-alt;
}

.widget-dnd > switch slider {
  background: @red;
  border-radius: 12px;
}

.widget-dnd > switch:checked slider {
  background: @green;
}

/* Inhibitors widget */
.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  font-size: initial;
  color: @text;
  text-shadow: none;
  background: @bg;
  border: 1px solid @fg;
  box-shadow: none;
  border-radius: 12px;
}

.widget-inhibitors > button:hover {
  background: @blue;
}
